{% extends "base.html" %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename= 'extended_beauty.css') }}" />
{% endblock %} {% block content %}

<h1>
    Hello!
</h1>
<center>
    <img src="{{ url_for('static', filename= 'images/stepsImage.PNG') }}" alt="steps" height="200px" />
</center>
<p>
    Welcome to your steps-logger! <br />This web app is developed to
    implement basic CRUD and User Authentication functionality using Flask. You
    can add your daily steps here, track and visualise them.
</p>

{% endblock %}